
.ProductDetails{
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;

}
.product-images{
  display: grid;
  margin-left: 5rem;
  width: 100%;

}

 .CarouselImage{
  width: 650px;
  height: 333px;
  margin-left: 8rem;
  object-fit: contain;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 3px 1px 23px 3px #888888;
}
.product-info{
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
  grid-row-gap: 10%;
}
.price > h1{
  font-size: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;

}
.price > h2{
  font-size: 3.5rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  color:blueviolet;

}
.product-details > h2{
  font-size: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.product-details > p{
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 200;
  color:darkblue;
}
.date-love{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.date-love > h4{
  display: inline-block;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 200;
  color: green;
}
.product-name{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15%;
  margin-bottom: 1%;

}
.product-name > div{
  display: flex;
  justify-content:right;
  align-items: center;
  font-size: 3.5rem;
  font-family: 'Times New Roman', Times, serif;
}
.contact-details > span{
  font-size: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.location > span{
  font-size: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.contact-details > p{
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 200;
  color:darkblue;
}
.location > p{
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 200;
  color:darkblue;
}